<!DOCTYPE html>

<html lang="nl-NL">

<head>
    <meta charset="utf-8">
    <title>Login | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="header loginHeader">
        <h1 class="title">Dashboard</h1>
    </div>

    <div class="login">
        <h2 class="title">Welcome back!</h2><br>

        <div class="message">
            <% if(msg.content !=="" ){ %>
                <p style=<%=`color:${msg.color};` %>><%= msg.content %></p>
            <% } %>
            <p></p>
        </div>

        <form class="form" action="/login" method="POST">
            <label>Username</label><br><input type="text" name="username" required><br><br>
            <label>Password</label><br><input type="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form><br>

        <p>Don't have an account? <a href="/login/register">Register</a></p>
        <!--<p>Or do you wanna <a href="/login">reset</a> your password?</p>-->
    </div>

    <div class="footer">
        <p>&copy;2022 Dashboard</p>
    </div>
</body>

</html>