<!DOCTYPE html>

<html lang="nl-NL">
    <head>
        <meta charset="utf-8">
        <title>Asking for server | Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <div class="header">
            <h1 class="title">Dashboard</h1>

            <div class="navigation">
                <ul class="list">
                    <li><a href="/"><img src="/static/resources/nav/dashboard.png"></a></li>
                    <li><a href="/account"><img src="/static/resources/nav/account.png"></a></li>
                    <% if(account.admin > 0){ %>
                        <li><a href="/admin"><img src="/static/resources/nav/admin.png"></a></li>
                    <% } %>
                    <li><a href="/logout"><img src="/static/resources/nav/logout.png"></a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <h2 class="title">Fill in the fields and ask for creation</h2>

            <div class="message">
                <% if(msg.content !== ""){ %>
                    <p style=<%= `color:${msg.color};` %>><%= msg.content %></p>
                <% } %>
            </div>
    
            <div class="submitProject">
                <form class="form" action="/createServer" method="POST" enctype="multipart/form-data">
                    <label>(Required) Project name:</label><br><input type="text" name="name" required><br><br>
                    <label>Description:</label><br><textarea name="desc"></textarea><br><br>
                    <label>Start file: (The file that will be executed when the project starts)</label><br><input type="text" value="index.js" name="startFile" required><br><br>
                    <label>Upload the code of your project (as zip)</label><br><br>
                    <div class="fileUpload">
                        <input type="file" id="uploadFile" name="file" accept=".zip" hidden>
                        <label for="uploadFile" class="uploadFileBtn">Choose .zip file</label>
                        <span class="fileChosen" id="fileChosen"> [No file choosen]</span>
                    </div><br><br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="footer">
            <p>&copy;2022 Dashboard</p>
        </div>

        <script>
            const uploadFile = document.getElementById('uploadFile');

            const fileChosen = document.getElementById('fileChosen');

            uploadFile.addEventListener('change', function(){
                fileChosen.textContent = this.files[0].name
            })
        </script>
    </body>
</html>
